**/.idea/
**/node_modules
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/dist
**/.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
simple-vacancy-grabber/logs
simple-vacancy-grabber/*.log
simple-vacancy-grabber/npm-debug.log*
simple-vacancy-grabber/yarn-debug.log*
simple-vacancy-grabber/-error.log*
simple-vacancy-grabber/pnpm-debug.log*
simple-vacancy-grabber/lerna-debug.log*
simple-vacancy-analytics/logs
simple-vacancy-analytics/*.log
simple-vacancy-analytics/npm-debug.log*
simple-vacancy-analytics/yarn-debug.log*
simple-vacancy-analytics/-error.log*
simple-vacancy-analytics/pnpm-debug.log*
simple-vacancy-analytics/lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
simple-vacancy-grabber/.vscode/*
simple-vacancy-grabber/!.vscode/extensions.json
simple-vacancy-grabber/*.suo
simple-vacancy-grabber/*.ntvs*
simple-vacancy-grabber/*.njsproj
simple-vacancy-grabber/*.sln
simple-vacancy-grabber/*.sw?
simple-vacancy-analytics/.vscode/*
simple-vacancy-analytics/!.vscode/extensions.json
simple-vacancy-analytics/*.suo
simple-vacancy-analytics/*.ntvs*
simple-vacancy-analytics/*.njsproj
simple-vacancy-analytics/*.sln
simple-vacancy-analytics/*.sw?

dist-ssr
*.local
simple-vacancy-grabber/dist-ssr
simple-vacancy-grabber/*.local
simple-vacancy-analytics/dist-ssr
simple-vacancy-analytics/*.local